body {
  font-size: .875rem;
}

h1 {
   text-align: center
}
.updateInfoForm{
    position: center

}
/*
 * Update Form
 */

.update-form{
    width: 500px;
    margin: 100px auto 0;
}
.getStarted {
    width: 100%;
    border-radius: 2px;
    background: #19a881;
    border: 1px solid #19a881;
}
/*
.getStarted active {
    background: #1ab188!important;
    border: 1px solid #1ab188!important;
}*/
.getStarted:hover {
    background: #19a881!important;
    border: 1px solid #19a881!important;
}


/*  dropdown button */

/* Show the dropdown menu on hover */
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{ color: #fff;  }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 56px;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 55px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 60px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.card{
  color: white;
  background-color: #13232f;
  box-shadow: 10px 10px 15px black;
}
.card-body{
  color: white;
  box-shadow: 10px 10px 15px black;
}
.card-header{
  color: white
}
a{
  color:#1ab188
}
.navbar{
  box-shadow: 0px 10px 15px black;
}
body{
  background-color: #0e1a22;
}
h1,h2{
  color: white
}
.table{
  color: white;
}
.display-2{
  background-color:#13232f;
  font-size: 4vw!important;
}
.fix-hover:hover {
    color: white!important;
    background-color: rgba(0,0,0,1);
}
#stockName{
  box-shadow: 0px 10px 15px black;
  background-color:#13232f;
}

label{
  color: whitesmoke
}

.currentPrice{
    color: whitesmoke;
}

#bg-color {
    background-color: #13232F;
}
.btn-outline-success {
    color: #1ab188!important;
    border-color: #1ab188!important;
}
.btn-outline-success:hover {
    color: #fff!important;
    background-color: #1ab188!important;
    border-color: #1ab188!important;
}

.alert-info {
    background-color: transparent!important;
    border-color: transparent!important;
}
.ticker-header{
   text-align: left!important;
   background: transparent!important;
   border: none!important;
   color: #1ab188!important;
}

.ticker-header:focus{
    outline: unset;
}
.ticker-header:hover{
   color: #16906f!important;
}

#sector {
    box-shadow: 10px 10px 15px black!important;
}

.recommendation{
    box-shadow: 10px 10px 15px black!important;
}
.table td, .table th {
    vertical-align: middle!important;
}

.nav-tabs > .nav-item > .nav-link:hover {
    color: #1ab188!important;
}


.loader {
  position: relative;
  margin: auto;
  width: 350px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 250%;
  background: linear-gradient(180deg, #222 0, #1ab188 100%);
  box-shadow: inset 0 5px 20px black;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  margin-top: 45vh;
}
.loader-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e1a22;
    top:0;
    left:0;
    z-index: 999;
}

.loader:after {
  content: "";
  display: table;
  clear: both;
}

.span-loader {
  float: left;
  height: 100px;
  line-height: 120px;
  width: 50px;
}

.loader > span {
  border-left: 1px solid #444;
  border-right: 1px solid #222;
}

.covers {
  position: absolute;
  height: 100%;
  width: 100%;
}

.covers span {
  background: #0e1a22;
  animation: up 2s infinite;
}

@keyframes up {
  0%   { margin-bottom: 0; }
  16%  { margin-bottom: 100%; height: 10px; }
  50% { margin-bottom: 0; }
  100% { margin-bottom: 0; }
}

.covers span:nth-child(2) { animation-delay: .142857s; }
.covers span:nth-child(3) { animation-delay: .285714s; }
.covers span:nth-child(4) { animation-delay: .428571s; }
.covers span:nth-child(5) { animation-delay: .571428s; }
.covers span:nth-child(6) { animation-delay: .714285s; }
.covers span:nth-child(7) { animation-delay: .857142s; }