body {
    background: #13232f;
}
body::after {
  content: "";
  background:linear-gradient(0deg, rgba(26, 177, 137, 0.7), rgba(26, 177, 137, 0.7)), url('../images/spikes.png');
    opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.container {
    border-radius: 5px;
    background: #13232f;
    padding: 30px;
    margin-top: 20px;
    color: white;
    min-height: 100px;
    max-width: 500px;
}
.switchForms {
    width: 50%;
    float: left;
    border-radius: 0px;
    background: rgba(160, 179, 176, 0.25);
    border: 1px solid rgba(160, 179, 176, 0.25);
}
.switchForms:hover, .getStarted:hover {
    background: #19a881;
    border: 1px solid #19a881;
}
.getStarted {
    width: 100%;
    border-radius: 2px;
    background: #1ab188;
    border: 1px solid #1ab188;
}
.active {
    background: #1ab188!important;
    border: 1px solid #1ab188!important;
}
form {
    padding-top: 0px
}
.form-control, .form-control:focus {
    background: #13232f;
    color: #eee;
}
.form-control:focus {
    color: white
}
.show {
    display: block;
}
.hide {
    display: none;
}
#yo {
    background-image: url('../images/undraw_Finance_re_gnv2.svg');
    background-repeat: no-repeat;
    background-size: 500px auto;
    background-color: white;
    background-position: center;
}

#login-card {
    border-radius: 10px;
}

.login-content {
    padding-top: 4vh;
    max-width: 500px;
    margin: 0 auto;
}
#loginForm > h2 {
    text-align:left;
    padding: 60px 0px 20px 0px;
}
.active {
    background: white!important;
    border: none!important;
}
.carousel-indicators > li {
    background: #1ab188;
    border: 1px solid #1ab188!important;
}

.carousel-indicators > li.active {
    background: #1ab188!important;
    border: 1px solid #1ab188!important;
    opacity: 1;
}

.carousel-caption {
    color: black;
    position: relative;
    right: unset;
    left: unset;
    bottom: unset;
    padding-left: 1em;
    padding-right: 1em;
}
.carousel-inner {
min-height:600px
}

.carousel-item > img {
    height: 500px;
    object-fit: scale-down;
}

.stockz-logo {
    padding-left: 4em;
    padding-top: 10vh;
    max-width: 200px;
}

.custom-links {
    text-decoration: none;
    color: #1ab188;
}
.custom-links:hover {
    color: #179674;
    text-decoration: none;

}