{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
    <div id="loginForm">
        <h2 style="padding: 60px 0px 20px 0px; text-align: center">Reset Password</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    {% load crispy_forms_tags %}
                    {{ form|crispy }}
<!--                    <input type="text" class="form-control" name="email">-->
                </div>
                <button type="submit" class="btn btn-primary getStarted">Reset Password</button>
            </form>
    </div>
</div>
</body>
{% endblock %}


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    {% load crispy_forms_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Password Reset</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
-->