<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    {% load static %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<nav id="bg-color" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img class="stockz-logo" src="../assets/images/StockZlogo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'add_stock' %}">My Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'pricing' %}">Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sector_page' %}">Sectors</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'updateinfo' %}">Update Profile</a>
                    <a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Log in</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
            </li>
        </ul>
        {% endif%}
        <!--    <form action="{% url 'dashboard' %}" class="form-inline my-2 my-lg-0" method="POST">-->
        <!--      {% csrf_token %}-->
        <!--      <input class="form-control mr-sm-2" type="search" placeholder="Get Stock Quote" aria-label="Search" name="ticker">-->
        <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Stock Quote</button>-->
        <!--    </form>-->
        <form id="stock-submission" action="{% url 'show_graph' %}" class="form-inline my-2 my-lg-0" method="POST">-->
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search Stock..." aria-label="Search"
                   name="stock">
            <button id="testing" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <br/>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% endif %}
    <body>
    <div class="loader-wrapper">
<div class="loader">
  <span class="loader-span">L</span>
  <span class="loader-span">O</span>
  <span class="loader-span">A</span>
  <span class="loader-span">D</span>
  <span class="loader-span">I</span>
  <span class="loader-span">N</span>
  <span class="loader-span">G</span>

  <div class="covers">
    <span class="loader-span"></span>
    <span class="loader-span"></span>
    <span class="loader-span"></span>
    <span class="loader-span"></span>
    <span class="loader-span"></span>
    <span class="loader-span"></span>
    <span class="loader-span"></span>
  </div>
</div>
</div>
<script>
$(window).on("load",function(){
     $(".loader-wrapper").delay(1000).fadeOut("slow");
});
</script>
<script>
$(document).ready(function(){
    $("#testing").on("click", function(){
     $(".loader-wrapper").delay(1000).fadeIn("slow");
     console.log("test")
     });
});
</script>
    <div class="container-fluid">
        <div class="row">
            <!--
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
              <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">
                      Portfolio
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'updateinfo' %}">
                      Update Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'password_reset' %}">
                      Reset Password
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Placeholder
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Placeholder
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      Placeholder
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            -->
            <div class="container">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <script>
$(document).ready(function() {
    $.each($('.navbar-nav').find('li'), function() {
        $(this).toggleClass('active',
            window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
    });
});
    </script>
    </body>
</html>