{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" >
    <div class="row" style="padding: 50px 0px;">
        <div class="col-lg-6 col-md-12">
            <h2 style="font-size: 34px; font-weight: 600; color: white; padding-top: 20px">Where investment decisions<span style="color:#007bff">*</span> <br>are made easier.</h2>
            <p style="color: white"><span style="color:#007bff">*</span> We provide a friendly toolset that allows you to track various money flows and provide guidance on which stocks to invest in, all while using easy to read models and statistics.</p>
            <a class="btn btn-primary btn-green mr-4" href="/../signup">Get Started</a><a class="btn btn-primary" href="/../tutorial">Site Tutorial</a>
            <p class="py-3 my-0" style="color: white">Already have an account? <a
                            class="custom-links" href="/../login/">Login here</a></p>
        </div>
        <div class="col-lg-6 col-md-12" >
            <img src="../assets/images/bar_graph.svg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>

{% endblock %}