{% extends 'base.html' %}
{% block content %}

<h1>U.S. Sectors & Industries Performance</h1>

<br/><br/>
<div class="recommendationoverview">
<table class="table table-striped table-hover" style="width:75%">
  <thead class="bg-success">
    <tr>
      <th scope="col">Sector</th>
      <th scope="col">Last % Change</th>
      <th scope="col">1 Year % Change</th>
    </tr>
  </thead>
</table>
</div>

<br/><br/>

<div class="recommendationfunction">



<h5 style="color:white;border: 1px solid white;width:33%">Select a Sector for Recommendations:</h5>
  <select name="dropdownplaceholder" id="placeholder" style="width:33%">
    <option value="placeholder">placeholder</option>
  </select>


<br/><br/>


<table class="table table-striped table-hover">
  <thead class="bg-success">
    <tr>
        <th scope="col">Sector</th>
        <th scope="col">Price ($)</th>
        <th scope="col">12-Month P/E Ratio</th>
        <th scope="col">Moving Avg (1M)</th>
        <th scope="col">Moving Avg (3M)</th>
        <th scope="col">Exchange</th>
    </tr>
  </thead>
</table>
</div>


  <tbody>


{% endblock %}