<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show Stocks</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google Font API-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
          integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


    <!-- Page level plugin JavaScript-->
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly.latest.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://kit.fontawesome.com/2958cfaea4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
{% extends 'base.html' %}
{% block content %}

{% if incorrectString %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>
        <strong>Error:</strong>
        Oops! Looks like you entered an incorrect stock ticker. We offer a limited range of stocks
        stemming from S&P 500. See full list <a href="/../stock_list">here</a>.
    </p>
    <hr>
    <p class="mb-0">hint: Ticker symbols are between 1-5 characters long!</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class='container-fluid'>
    <div class="content-mobile d-md-block d-lg-none">
        <form action="{% url 'show_graph' %}" class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search Stock..." aria-label="Search"
                   name="stock">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

    {% if stock %}
    <div class='row justify-content-center text-center my-4'>
        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12" id="stockName">
            <div class="alert alert-info text-center" role="alert">
                <h1 class="display-2">{{stockName}}</h1>
            </div>
        </div>

        {% load mathfilters %}
        <div class="card col-12 py-3 my-4">
            <div class="container">
                Current Price: ${{currentPrice}}
                {% if percentageChange > 0 %}
                <span><span style="color: #1ab188"><i class="fas fa-caret-up"></i>${{priceChange|abs}} ({{percentageChange}}%)</span> from yesterday</span>
                {% else %}
                <span><span style="color: #bf303d"><i class="fas fa-caret-down"></i>${{priceChange|abs}} ({{percentageChange}}%)</span> from yesterday</span>
                {% endif %}
            </div>
            <div class="container px-3 mt-3">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Current Price</th>
                            <th scope="col">Previous Closing</th>
                            <th scope="col">Yearly High</th>
                            <th scope="col">Year Low</th>
                            <th scope="col">Market Cap <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Market cap—or market capitalization—refers to the total value of all a company's shares of stock."></i></th>
                            <th scope="col">MACD Value <i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Moving average convergence divergence (MACD) is a trend-following momentum indicator that shows the relationship between two moving averages of a security's price."></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>${{currentPrice}}</td>
                            <td>${{previousClosingPrice}}</td>
                            <td>${{yearhigh}}</td>
                            <td>${{yearlow}}</td>
                            <td>${{marketcap}}</td>
                            <td>{{macd}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                {{candlestick | safe}}
            </div>
        </div>
        <div class="card col-12 py-3 my-4">
            {{ monthlyBarChart | safe }}
        </div>
        <div class="card col-12 my-4">
            <div class="container px-3 my-3">


                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Historic Monthly</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">Historic Yearly</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                           aria-controls="contact" aria-selected="false">Historic Trades</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Sales</th>
                                    <th scope="col">Recommendation Percent Change</th>
                                    <th scope="col">Buy/Hold Percent Change</th>
                                    <th scope="col">+/-</th>
                                </tr>
                                </thead>
                                {% for item in historic_monthly.values reversed %}
                                <tbody>
                                <tr>
                                    {% if item.Month == 1 %}
                                    <td>January {{item.Year}}</td>
                                    {% elif item.Month == 2 %}
                                    <td>February {{item.Year}}</td>
                                    {% elif item.Month == 3 %}
                                    <td>March {{item.Year}}</td>
                                    {% elif item.Month == 4 %}
                                    <td>April {{item.Year}}</td>
                                    {% elif item.Month == 5 %}
                                    <td>May {{item.Year}}</td>
                                    {% elif item.Month == 6 %}
                                    <td>June {{item.Year}}</td>
                                    {% elif item.Month == 7 %}
                                    <td>July {{item.Year}}</td>
                                    {% elif item.Month == 8 %}
                                    <td>August {{item.Year}}</td>
                                    {% elif item.Month == 9 %}
                                    <td>September {{item.Year}}</td>
                                    {% elif item.Month == 10 %}
                                    <td>October {{item.Year}}</td>
                                    {% elif item.Month == 11 %}
                                    <td>November {{item.Year}}</td>
                                    {% else %}
                                    <td>December {{item.Year}}</td>
                                    {% endif %}
                                    <!--                                    <td>{{item.Month}}/{{item.Year}}</td>-->
                                    <td>{{item.Total_Sales}}</td>
                                    {% if item.Percent_Change > 0 %}
                                    <td style="color: green">+{{item.Percent_Change}}%</td>
                                    {% else %}
                                    <td style="color: red">{{item.Percent_Change}}%</td>
                                    {% endif %}
                                    {% if item.Buy_Hold_Change > 0 %}
                                    <td style="color: green">+{{item.Buy_Hold_Change|floatformat:2}}%</td>
                                    {% else %}
                                    <td style="color: red">{{item.Buy_Hold_Change|floatformat:2}}%</td>
                                    {% endif %}
                                    {% if item.Percent_Change|sub:item.Buy_Hold_Change > 0 %}
                                    <td style="color: green">+{{item.Percent_Change|sub:item.Buy_Hold_Change|floatformat:2}}%</td>
                                    {% else %}
                                    <td style="color: red">{{item.Percent_Change|sub:item.Buy_Hold_Change|floatformat:2}}%</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Year</th>
                                    <th scope="col">Total Percent Change</th>
                                </tr>
                                </thead>
                                {% for key, item in historic_yearly.items reversed %}
                                <tbody>
                                <tr>

                                    <td>{{key.year}}</td>
                                    {% if item.Percent_Change > 0 %}
                                    <td style="color: green">+{{item.Percent_Change|floatformat:2}}%</td>
                                    {% else %}
                                    <td style="color: red">{{item.Percent_Change|floatformat:2}}%</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Buy Date</th>
                                    <th scope="col">Bought Price</th>
                                    <th scope="col">Sell Date</th>
                                    <th scope="col">Sale Price</th>
                                    <th scope="col">Percent Change</th>
                                    <!--              running sum of percent change for the month-->
                                    <!--              <th scope="col">Monthly Percent Change</th>-->
                                </tr>
                                </thead>
                                {% for item in historic_sales.values reversed %}
                                <tbody>
                                <tr>
                                    <td>{{item.Buy_Date}}</td>
                                    <td>${{item.Buy_Price}}</td>
                                    <td>{{item.Sell_Date}}</td>
                                    <td>${{item.Sell_Price}}</td>
                                    {% if item.Percent_Change > 0 %}
                                    <td style="color: green">+{{item.Percent_Change}}%</td>
                                    {% else %}
                                    <td style="color: red">{{item.Percent_Change}}%</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>


            </div>

            <br>
            <br>
        </div>

    </div>
</div>
<script>$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>
{% endif %}
{% endblock %}
<!-- footer -->