{% extends 'base.html' %}
{% block content %}

<h1>My Stock Portfolio</h1>
<br/>


    <form action="{% url 'viewPortfolio' %}" class="form-inline my-2 my-lg-0" method="POST">
    	{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add To Portfolio" aria-label="Search" name="ticker">
      <button style="border-color: #1ab188!important; background-color: #1ab188!important;" class="btn btn-success my-2 my-sm-0" type="submit">Add Stock</button>
    </form>

<br/><br/>
<div style="box-shadow: 10px 10px 15px black;" class="table-responsive">
<table class="table table-striped table-hover" style="margin: 0px">
  <thead class="thead-light">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Stock Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52Wk High</th>
      <th scope="col">52Wk Low</th>
      <th scope="col">Recommendation</th>
    </tr>
  </thead>
  <tbody>

{% if output %}
            {% for list_item in users_stocks %}
            <tr class="fix-hover">
                <th scope="row">
                    <form action="{% url 'show_graph' %}" method="Post">
                        {% csrf_token %}
                        <input style="display: none" class="form-control mr-sm-2" type="search" placeholder="Search Stock..." aria-label="Search" name="stock" value="{{ list_item.ticker}}">
                        <button class="ticker-header" type="submit">{{ list_item.stock_name}}</button>
                    </form>
                </th>
				<td>${{ list_item.current_price }}</td>
				<td>${{ list_item.previous_closing_price }}</td>
				<td>${{ list_item.market_cap }}</td>
				<td>{{ list_item.price_change }}%</td>
				<td>${{ list_item.year_high }}</td>
				<td>${{ list_item.year_low }}</td>
                {% if list_item.recommendation == 'Buy (Hold)' %}
                <td style="color: green">{{list_item.recommendation}}</td>
                {% else %}
                <td style="color: red">{{list_item.recommendation}}</td>
                {% endif %}
			</tr>
            {% endfor %}


  </tbody>
</table>
</div>
{% endif %}

{% endblock %}